<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You have new message in "<%= @chat.name %>" conversation
    <% if @user.message_users.unread.count > 1 %>
      <p>
      Also, you have <%=  @user.message_users.unread.count - 1 %> unread messages.
      </p>
    <% end %>
    </h2>
  </body>
</html>
