<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You have new message in "<%= @chat.name %>" conversation </h2>
    <p>
    <h2>Also, you have <%=  @user.message_users.unread.count %> unread messages.<br></>
    </p>
  </body>
</html>
